/*dette er hva en komentar ser ut som i css*/
body{
    background-color: lightcoral;
}


div, main, header, nav, article, footer{
    border: 1px solid black;
    padding: 10px;
}


#main{
    font-size: 1em;
    background-color: white;
}
#header{
    font-size: 1em;
    
}
#nav{

    font-size: 1em;
    background-color: coral;
    border-radius: 20px;
}


#article{
    font-size: 1em;

}


#footer{
    font-size: 1em;
    background-color: steelblue;
    color: white;
    
}
.page_footer{
    margin: 0px;
}

.nav_box li{
    display: inline;
    list-style-type: none;
}



#article img{
    width: 40%;
}


.loremintro{
    color: red;
}


.logo{
    width: 20%;
}


.innholdsboks{
    display: flex;
    flex-wrap: wrap;
}

/*for mobil*/
@media screen and (max-width: 768px) {
    nav{
        display: none;
    }
    
}

/*for desktop*/
@media screen and (min-width: 768px) {
	#nav{
		display: visible;
		display: flex;
		width: 100%;
		gap: 0.5rem;
	}
}
