main{
    flex-direction: column;
    display: flex;
}

#innholdsområde{
    align-content: center;
    display: flex;
}

header{
    display: flex;
    flex-direction: row;
}

header p{
    align-self: flex-end;    
}

header img{
    align-self: flex-start;
}

#innledningbox{
    display: flex;
}

#innledningbox img{
    align-self: flex-end;
    margin-left: 15px;
    height: 150px;
    width: 750px;
}



#hovedbox{
    display: flex;
}

#hovedbox ul{
    align-self: flex-start;
}

#hovedbox p{
    align-self: flex-end;
}

ul{
    margin-right: 20px;
}

#stor_bildebox{
    display: flex;
    width: fit-content;
    height: fit-content;
}

#stor_bildebox img{
    width: 290px;
}

#bildebox1{
    align-self: flex-start;
}

#bildebox2{
    align-self: flex-end;
}

/*for mobil*/
@media screen and (max-width: 768px) {
	#innledningbox img{
		display: none;
	}
}

@media screen and (max-width: 768px) {
	img{
		max-width: 200px;
	}
}

/*for desktop*/
@media screen and (min-width: 768px) {
	#innledningbox img{
		display: visible;
	}
}

@media screen and (min-width: 768px) {
	img{
		max-width: 290px;
	}
}